* {
  margin: 0;
}

html {
  background: #000000;
  color: #ffffff;
  font-family: sans-serif;
}

.error-msg {
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;
}

.error-msg > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;

  padding: 3%;
  border-radius: 10px;

  background-color: #ff6565;
  color: #000000;
}

.error-msg ul {
  font-family: monospace;
}
